.line-cont{
    position: fixed;
    top: 0;
    /* left: 39.5rem; */
    left: 40rem;
    /* width: 100%; */
    height: 90%;
    text-align: center;
    overflow: hidden;
    z-index: 0;
}

svg {
    /* display: inline-block;
    height: 100%; */
}
