#web_sec #web_box_b {
    background: url("./imgs/web_1.png") no-repeat center !important;
    background-size: cover;
}

#web_sec #web_box_c {
    background: url("./imgs/web_2.png") no-repeat center !important;
    background-size: cover;
}
